/* =========================
   RESPONSIVO
========================= */

@media(max-width:1100px){

    .hero h1{
        font-size:3rem;
    }

    .container{
        grid-template-columns:1fr;
    }

    .carousel-container{
        height:450px;
    }
}

@media(max-width:768px){

    header{
        margin:12px;
        padding:16px 18px;
    }

    .nav-links{
        display:none;
    }

    .hero{
        padding:60px 30px;
        border-radius:28px;
    }

    .hero h1{
        font-size:2.2rem;
        letter-spacing:-2px;
    }

    .hero p{
        font-size:1rem;
    }

    .container{
        width:calc(100% - 24px);
        gap:20px;
    }

    .card-simples{
        min-height:200px;
        padding:28px;
    }

    .carousel-container{
        height:320px;
        border-radius:25px;
    }

    .mapa-container{
        height:240px;
    }

    footer{
        padding:30px 20px;
    }
}

@media(max-width:480px){

    .hero{
        padding:45px 22px;
    }

    .hero h1{
        font-size:1.8rem;
    }

    .logo{
        font-size:1.4rem;
    }

    .menu-icon{
        width:45px;
        height:45px;
    }

    .card-header{
        padding:20px;
    }

    .card-content{
        padding:20px;
    }

    .card-simples{
        min-height:180px;
    }

    .icone-grande{
        font-size:2.3rem;
    }

    .titulo-card{
        font-size:1.2rem;
    }

    .menu-container{
        padding:25px;
    }

    .container-calendario{
        grid-template-columns:1fr;
    }

    .eventos-grid{
        grid-template-columns:1fr;
    }
}